<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Documentation</title>
</head>
<body>
<h1>REST API for a blog application</h1>
<h2>Endpoints for Posts</h2>
<p>POST : /posts - Add a new blog post.</p>
<p>GET : /posts - Get all the blog posts.</p>
<p>GET : /posts/id - Get a blog post by id.</p>
<p>PUT : /posts/id - Updates a blog post with the given id.</p>
<p>DELETE : /posts/id - Delete a blog post with given id.</p>
<h2>Endpoints for Comments</h2>
<p>POST : /posts/postid/comments - Adds a new comment to a blog post with given id.</p>
<p>GET : /posts/postid/comments - Get all the comments of a blog post with given id.</p>
<p>PUT : /posts/postid/comments - Updates the comment to a blog post with given id.</p>
<p>DELETE : /posts/postid/comments/id - Deletes the comment to a blog post with given id.</p>
<h2><a href="https://www.getpostman.com/collections/c353730e183f7c06b3a4" >Postman Collections</a></h2>
</body>
</html>
